{% extends "home/base.html" %}
{% load staticfiles %}
{% block page_title %}
	Início
{% endblock page_title %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style='background-image: url("{% static "img/home-bg.jpg" %}")'>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Saúde &amp; adolescência</h2>
            <span class="subheading">Um blog pra orientar os adolescentes sobre as infecções sexualmente transmissíveis (ISTs)</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    {% for article in articles %}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'article_detail' article.slug %}">
              <h2 class="post-title">
                {{ article.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ article.description }}
              </h3>
            </a>
            <p class="post-meta">Postado por {{ article.get_author }} em {{ article.created_at|date:"d F Y" }}</p>
          </div>
          <hr>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}